<div class="unit-container container" *ngIf="unit">
    <md-grid-list cols="4" rowHeight="56px">
        <md-grid-tile>
            <i class="fa fa-upload"></i>
            <md-input-container>
                <input mdInput type="number" [(ngModel)]="unit.speed" placeholder="Speed">
            </md-input-container>
        </md-grid-tile>
        <md-grid-tile [colspan]="3"></md-grid-tile>
        <md-grid-tile [colspan]="1"></md-grid-tile>
        <md-grid-tile [colspan]="2">
            <i class="fa fa-check"></i>
            <md-input-container>
                <input mdInput type="text" [(ngModel)]="unit.name" placeholder="Name">
            </md-input-container>
        </md-grid-tile>
        <md-grid-tile [colspan]="1"></md-grid-tile>
        <md-grid-tile>
            <i class="fa fa-check"></i>
            <md-input-container>
                <input mdInput type="number" [(ngModel)]="unit.attack" placeholder="Attack">
            </md-input-container>
        </md-grid-tile>
        <md-grid-tile [colspan]="2"></md-grid-tile>
        <md-grid-tile>
            <i class="fa fa-check"></i>
            <md-input-container>
                <input mdInput type="number" [(ngModel)]="unit.health" placeholder="Health">
            </md-input-container>
        </md-grid-tile>
    </md-grid-list>
</div>
