.row {
    height: 60px;
    margin-top: 4px;
    float: left;
}

.cell {
    display: inline-block;
    height: 100%;
    width: 60px;
    margin-left: 4px;
    border: solid red 1px;
}

.mode-selection .selected {
    background-color: aqua;
}
