.row {
    float: left;
    clear: left;
}

.cell {
    display: inline-block;
    text-align: center;
    border: solid red 1px;
}

.cell-unit {
    position: absolute;
    font-size: 12px;
    margin: 6px;
    height: 48px;
    width: 48px;
    overflow: hidden;
}

.mode-selection .active {
    background-color: aqua;
}

.mode-units .active {
    background-color: lightgreen;
}

.mode-units .selected {
    background-color: aquamarine;
}

select {
    margin-top: 5px;
    margin-left: 4px;
}
