<div>
    <div [class.mode-selection]="currentState === BoardState.AvailableCells"
        [class.mode-units]="currentState === BoardState.Units">
        <div *ngFor="let row of board" class="row"
            [style.height.px]="cellSize"
            [style.margin-top.px]="cellSize / 15"
            [style.width.px]="(cellSize + (cellSize / 15) + 2) * (boardWidth)">
            <div *ngFor="let cell of row" class="cell"
                [class.active]="cell.active"
                [class.selected]="selectedCell === cell"
                [style.height.px]="cellSize"
                [style.margin-left.px]="cellSize / 15"
                [style.width.px]="cellSize"
                (click)="cellClicked(cell)"
                (contextmenu)="cellRightClicked(cell)">
                <div class="cell-unit" *ngIf="cell?.unit as unit"
                    [style.margin.px]="cellSize / 10"
                    [style.height.px]="cellSize - (cellSize / 5)"
                    [style.width.px]="cellSize - (cellSize / 5)">
                    {{ unit.name }}<br>
                    {{ unit.attack + '/' + unit.health + '/' + unit.speed}}
                </div>
            </div>
        </div>
    </div>
    <div>
        <select (change)="changeState($event.target.value)">
            <option *ngFor="let option of boardStateOptions" [selected]="BoardState[currentState] === option">{{ option }}</option>
        </select>
        <input type="number" [(ngModel)]="cellSize" >
        <button *ngIf="selectedCell" type="button" (click)="clearCell()">Clear cell</button>
    </div>
</div>
