@import '~@angular/material/prebuilt-themes/purple-green.css';

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

app-root {
    position: absolute;
    width: calc(100vw - 16px);
    top: -2px;
    height: calc(100vh - 8px);
}
