@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "../node_modules/dragula/dist/dragula.min.css";
@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

app-root {
    position: absolute;
    width: calc(100vw - 16px);
    top: -2px;
    height: calc(100vh - 8px);
}
